body { 
    font-family: Arial;
}

.content-container {
    background-color: white;
    border: 1px solid #dadada;
    border-radius: 6px;
    padding: 14px 14px 14px;
    box-shadow: 0 4px 4px #05050540;
    width: fit-content;
    margin: auto;
}

.navigation-container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.navigation-list { 
    display: flex;
    list-style: none;
    padding: 0;
    gap: 15px;
}

.navigation-list li a {
    text-decoration: none;
    color: black;
}

.navigation-list li .active {
    font-weight: bold;
    color: green;
}

.submit-button-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding-top: 20px;
    align-items: center;
}

body {
    background-color: #77a5ff;
}

button, .link-button {
    padding: 6px 14px;
    background-color: #e0e0e0;
    border-radius: 6px;
    font-size: 14px;
    transition: background-color 0.2s;
    border: none;
    color: black;
}

button:hover, .link-button:hover {
    background-color: #c4c4c4;
}

.link-button {
    text-decoration: none;
    display: inline-block;
}