body { 
    font-family: Arial;
}

.navigation-list { 
    list-style: none;
    padding: 0;
}

.navigation-list li {
    display: inline;
    margin-right: 15px;
}

.navigation-list li a {
    text-decoration: none;
    color: black;
}

.navigation-list li .active {
    font-weight: bold;
    color: green;
}

.submit-button-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding-top: 20px;
}