.rooli-container {
    position: fixed;
    top: 10px;
    right: 10px;
    text-align: center;
    background-color: white;
    border: 1px solid #dadada;
    border-radius: 6px;
    padding: 14px 14px 14px;
    box-shadow: 0 4px 4px #05050540;
    min-width: 180px;
}