h4 {
    margin-top: 32px;
    margin-bottom: 16px  
}

.tyotyyppi-inputs {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.urakkahinta-container {
    padding-top: 14px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.urakkahinta-container .urakkahinta-input {
    width: 93px;
}

table .tarvike-input,
table .alennus-input,
.alennus-input {
    width: 44px;
}

table .tunti-input {
    width: 67px;
}

table td {
    padding: 8px 4px;
}

table {
    border-radius: 10px;
    border-collapse: collapse;
}

td, th {
    padding: 8px 4px;
    text-align: start;
}

th {
    background-color: #5e93fb;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

.tuntityot-tarvikkeet-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.tuntityot-container, .tarvikkeet-container {
    display: flex;
    flex-direction: column;
}