.hinta-arvio {
    h4 {
        margin-bottom: 0px;
    }

    .tarvikkeet-container {
       padding-top: 10px;
    }
    
    .tarvike-input,
    .alennus-input {
        width: 50px;
    }
    
    .tunti-input {
        width: 100px;
    }

    .value-input-container {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
}

.luo-lasku {
    .flex-container {
        display: flex;
        flex-direction: column;
    }

    .tieto-label {
        font-weight: bold;
    }
}

.laskut {
    th, td { 
        text-align: center; 
    }

}

