.hinta-arvio {
    h4 {
        margin-top: 32px;
        margin-bottom: 16px
    }

    table {
        .tarvike-input,
        .alennus-input {
            width: 50px;
        }
        
        .tunti-input {
            width: 100px;
        }
    
        td {
            padding: 8px 4px;
        }
    }
}

.luo-lasku {
    .flex-container {
        display: flex;
        flex-direction: column;
    }

    .tieto-label {
        font-weight: bold;
    }
}

.laskut {
    th, td { 
        text-align: center; 
    }

}
