.luo-lasku .flex-container {
    display: flex;
    flex-direction: column;
}

.luo-lasku .tieto-label {
    font-weight: bold;
}

.luo-lasku .yhteenveto-container {
    gap: 8px;
}

.luo-lasku .laskuarvio-container {
    gap: 8px;
}

.yhteenveto-container table {
    border-collapse: collapse;
}

.yhteenveto-container table td,
.yhteenveto-container table th {
    padding: 12px 8px;
    text-align: center;
}

.yhteenveto-container table tfoot tr {
    font-weight: bold;
    border-top: 2px solid #333;
}

table {
    border-radius: 10px;
    border-collapse: collapse;
}

td, th {
    padding: 8px 4px;
    text-align: start;
}

th {
    background-color: #5e93fb;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

tr:not(:last-child) {
    border-bottom: 1px solid;
}

input[type=checkbox]+label {
    transition: color 0.2s;
}

input[type=checkbox]:disabled+label {
    color: #ccc;
}