.hinta-arvio h4 {
    margin-top: 32px;
    margin-bottom: 16px  
}

.hinta-arvio .tyotyyppi-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.hinta-arvio .urakkahinta-container {
    padding-top: 14px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.hinta-arvio .urakkahinta-container .urakkahinta-input {
    width: 93px;
}

.hinta-arvio table .tarvike-input,
.hinta-arvio table .alennus-input {
    width: 42px;
}

.hinta-arvio table .tunti-input {
    width: 67px;
}

.hinta-arvio table td {
    padding: 8px 4px;
}

.luo-lasku .flex-container {
    display: flex;
    flex-direction: column;
}

.luo-lasku .tieto-label {
    font-weight: bold;
}

.luo-lasku .yhteenveto-container {
    gap: 8px;
}

.luo-lasku .laskuarvio-container {
    gap: 8px;
}

.submit-button-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding-top: 20px;
}

.laskut th,
.laskut td {
    text-align: center;
}

.yhteenveto-container table {
    border-collapse: collapse;
}

.yhteenveto-container table td,
.yhteenveto-container table th {
    padding: 12px 8px;
    text-align: center;
}

.yhteenveto-container table tfoot tr {
    font-weight: bold;
    border-top: 2px solid #333;
}