table {
    border-radius: 10px;
    border-collapse: collapse;
}

td, th {
    padding: 12px;
}


td:not(.tyokohde-cell), th {
    text-align: center;
}

th {
    background-color: #5e93fb;
    color: white;
}

td:not(:last-child), th:not(:last-child) {
    border-right: 1px solid #e3e3e3;
}

tr:not(:last-child) {
    border-bottom: 1px solid;
}

tr:hover {
    background-color: #f1f1f1;
}